.alert-bg-orange{
    background-color: #FA7A19;
    color: white;
}

.alert-bg-orange a{ 
    color: white;
}

.alert-bg-orange .alert {
    margin-bottom: 0;
}

.page-center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.text-color-orange{
    color: #ee7031;
}

.high-z-index{
    z-index: 99999;
}

.bg-grey {
    background-color: #f7f7f7;
}

.bg-orange{
    background-color: #ee7031;
}

.bg-50-op{
    background-color: rgba(0, 0, 0, 0.05);
}

p{
    margin-bottom: 0;
}

html, body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.hero-bg-image{
    background-image: url("https://f.hubspotusercontent10.net/hubfs/2266968/SITO%202020/LP/Kerberus/Project%20Kerberus%20Pitch%20%28gif%29.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    color: white;
}

@media (max-width: 768px) { 
    .hero-bg-image{
        background: linear-gradient(to right,#eb5b0a 0%,#f38946 100%) !important;
    }
}